name: Generer openapi schema

on:
    push:
        branches: [ main ]
        paths-ignore:
            - '.github/pr.yml'
            - '*.md'
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            id-token: write
            packages: write
            checks: write
            actions: write
        steps:
            -   uses: actions/checkout@v4
            -   uses: actions/setup-java@v4.3.0
                with:
                    java-version: 23
                    distribution: 'temurin'
            -   name: Setup Gradle for a non-wrapper project
                uses: gradle/actions/setup-gradle@v4
                with:
                    gradle-version: wrapper
            -   name: Bygg & test
                run: gradle test buildFatJar --continue --no-daemon --configuration-cache --stacktrace --info
            -   uses: actions/checkout@v4
                with:
                    repository: navikt/aap-backend-typescript-types
                    path: ./aap-backend-typescript-types
                    token: ${{ secrets.github_token }}
            - uses: actions/github-script@v7
              env:
                  WORKFLOW_ID: ${{ inputs.workflow-id }}
                  LABEL: ${{ inputs.label }}
              with:
                  script: |
                      const fs = require('fs');
                      const jsonString = fs.readFileSync("./openapi.json").toString('utf-8');
                      
                      await github.request(
                          'POST /repos/{owner}/{repo}/actions/workflows/{workflow_id}/dispatches',
                          {
                              owner: context.repo.owner,
                              repo: "navikt/aap-backend-typescript-types",
                              workflow_id: "build-and-publish",
                              ref: 'main',
                             schema-json-string: jsonString
                          }
                      )
