name: Generer openapi schema

on:
    push:
        branches: [ main ]
        paths-ignore:
            - '.github/pr.yml'
            - '*.md'
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            contents: write
            id-token: write
            packages: write
            checks: write
            actions: write
            deployments: write
        steps:
            -   uses: actions/checkout@v5
            -   uses: actions/setup-java@v5
                with:
                    java-version: 25
                    distribution: 'temurin'
            -   name: Setup Gradle for a non-wrapper project
                uses: gradle/actions/setup-gradle@v5
                with:
                    gradle-version: wrapper
            -   name: Bygg & test
                run: gradle genererOpenApiJson
            -   uses: actions/checkout@v5
                with:
                    repository: navikt/aap-backend-typescript-types
                    path: ./aap-backend-typescript-types
                    token: ${{ secrets.github_token }}
            -   uses: actions/upload-artifact@v5
                id: artifact-upload-step
                with:
                    name: openapi
                    path: ./openapi.json
                    overwrite: 'true'
            - uses: navikt/github-app-token-generator@v1
              id: get-token
              with:
                  app-id: "${{ secrets.TEAM_AAP_GITHUB_APP_ID }}"
                  private-key: "${{ secrets.TEAM_AAP_GITHUB_APP_PRIVATE_KEY }}"
                  repo: navikt/aap-backend-typescript-types
            -   uses: actions/github-script@v8
                with:
                    github-token: ${{ steps.get-token.outputs.token }}
                    script: |
                        const fs = require('fs');
                        await github.rest.actions.createWorkflowDispatch({
                            owner: 'navikt',
                            repo: 'aap-backend-typescript-types',
                            workflow_id: 'publish-and-release.yml',
                            ref: 'main',
                            inputs: {
                                'artifactId': '${{steps.artifact-upload-step.outputs.artifact-id}}',
                                'appNavn': 'behandlingsflyt'
                            }
                        })