on:
    workflow_dispatch:
        inputs:
            tag:
                description: "version"
                required: true
                type: string


jobs:
    publiser-kontrakt:
        permissions:
            contents: write
            packages: write
            id-token: write
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
              with:
                  fetch-depth: 0

            - uses: actions/setup-java@v4
              with:
                  java-version: 23
                  distribution: 'temurin'

            - uses: gradle/actions/setup-gradle@v4
              with:
                  gradle-version: wrapper

            - id: notes
              run: |
                  randomDelimiter=${RANDOM}
                  text=$(git --no-pager log $(git describe --tags --abbrev=0)..HEAD --pretty=format:"%h %s" | sed ':a;N;$!ba;s/\n/\n\n/g')
                  echo 'CHANGELOG<<$randomDelimiter' >> $GITHUB_OUTPUT
                  echo -e "$text" >> $GITHUB_OUTPUT
                  echo '$randomDelimiter' >> $GITHUB_OUTPUT

            - run: |
                  ./gradlew -Pversion=${{ inputs.tag }} publish
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

            - name: Create tag
              uses: actions/github-script@v7
              with:
                  script: |
                      github.rest.git.createRef({
                          owner: context.repo.owner,
                          repo: context.repo.repo,
                          ref: 'refs/tags/${{ inputs.tag }}',
                          sha: context.sha
                      })
                  github-token: ${{ secrets.GITHUB_TOKEN }}

            - name: Create release
              uses: actions/github-script@v7
              with:
                  script: |
                      github.rest.repos.createRelease({
                          owner: context.repo.owner,
                          repo: context.repo.repo,
                          tag_name: '${{ inputs.tag }}',
                          name: '${{ inputs.tag }}',
                          body: '${{ steps.notes.outputs.CHANGELOG }}',
                      })
                  github-token: ${{ secrets.GITHUB_TOKEN }}
