name: Pull Request

on:
    pull_request:

concurrency:
  group: "${{ github.workflow }}-${{ github.head_ref || github.sha }}"
  cancel-in-progress: true

jobs:
    find_gradle_jobs:
      runs-on: ubuntu-latest-8-cores
      outputs:
        matrix: ${{ steps.set-matrix.outputs.matrix }}
      permissions:
        contents: read
        id-token: write
        packages: write
        checks: write
      steps:
        - uses: actions/checkout@v6
        - uses: actions/setup-java@v5
          with:
            java-version: 25
            distribution: 'temurin'
        - name: Setup Gradle for a non-wrapper project
          uses: gradle/actions/setup-gradle@v5
          with:
            gradle-version: wrapper
            cache-read-only: false
        - name: Finn tasks
          id: set-matrix
          run: |
            TASKS=$(./gradlew -q testMatrix --no-daemon --configuration-cache)
            echo $TASKS
            echo "matrix={\"gradle_args\":$TASKS}" >> $GITHUB_OUTPUT

    test:
        runs-on: ubuntu-latest-8-cores
        timeout-minutes: 25
        needs: [find_gradle_jobs]
        permissions:
            contents: read
            id-token: write
            packages: write
            checks: write
        strategy:
          fail-fast: false
          matrix: ${{ fromJson(needs.find_gradle_jobs.outputs.matrix) }}
        steps:
            -   uses: actions/checkout@v6
            -   uses: actions/setup-java@v5
                with:
                    java-version: 25
                    distribution: 'temurin'

            - name: Setup Gradle for a non-wrapper project
              uses: gradle/actions/setup-gradle@v5
              with:
                  gradle-version: wrapper
                  cache-read-only: false
            - name: Bygg og test (${{matrix.gradle_args}})
              run: ./gradlew ${{matrix.gradle_args}} --continue --stacktrace
            - uses: dorny/test-reporter@v2.5.0
              if: success() || failure()
              with:
                name: test
                path: "**/build/test-results/test/TEST-*.xml"
                reporter: java-junit
                token: ${{ secrets.GITHUB_TOKEN }}
            - name: Publish Test Report
              uses: mikepenz/action-junit-report@v6
              if: success() || failure() # always run even if the previous step fails
              with:
                report_paths: '**/build/test-results/test/TEST-*.xml'
                check_name: 'JUnit Test Report for ${{ matrix.gradle_args }}'
