name: Pull Request

on:
    pull_request:

jobs:
    build:
        runs-on: ubuntu-latest-8-cores
        permissions:
            contents: read
            id-token: write
            packages: write
            checks: write
        steps:
            -   uses: actions/checkout@v4
            -   uses: actions/setup-java@v4.3.0
                with:
                    java-version: 23
                    distribution: 'temurin'

            - name: Setup Gradle for a non-wrapper project
              uses: gradle/actions/setup-gradle@v4
              with:
                  gradle-version: wrapper
            - name: Bygg & test
              run: gradle test --continue --configuration-cache --stacktrace
            - uses: dorny/test-reporter@v2.1.1
              if: success() || failure()
              with:
                name: test
                path: "**/build/test-results/test/TEST-*.xml"
                reporter: java-junit
                token: ${{ secrets.GITHUB_TOKEN }}
            - name: Publish Test Report
              uses: mikepenz/action-junit-report@v5
              if: success() || failure() # always run even if the previous step fails
              with:
                report_paths: '**/build/test-results/test/TEST-*.xml'
